
/*Colors
#0E1C36; oxford blue
#1D3B72; dark cornflower blue
#A8DADC; powder blue
#F1FAEE; honey dew
#
#
#
*/

.container {
    width: 100% !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-right: auto !important;
    margin-left: auto !important;
}


body {
	background-color: #F1FAEE;
}
	

/*section {
	box-shadow: 0 8px 32px 0 rgba(  252, 238, 87, 0.50 );
	backdrop-filter: blur( 11.0px );
	-webkit-backdrop-filter: blur( 11.0px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
}
*/

nav, footer {
	background-color: #0E1C36; /*oxford blue*/
}

.btn{
	background-color: #1D3B72; /*dark cornflower blue*/
}

.jumbotron {
	
	/*background-position: center;*/
	/*background-color: #A8DADC;*/
	background-image: linear-gradient(#A8DADC, #F1FAEE);
	/*background-image: linear-gradient(#F1FAEE, #F1FAEE,orange ,#F1FAEE,#F1FAEE);*/
	/*background-size: cover;*/

}
